nav {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  button {
    width: 200px;
    margin: 0 0.5%;
    font-size: 200%;
    color: #f50a0a;
    background-color: #100225;
    border: 3px solid black;
  }

  button:hover {
    background-color: #077e1f;
    color: #fff;
  }

  header {
    text-align: center;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid rgb(9, 126, 39);
    background-color: white;
  }

  ul {
    text-align: center;
    background-color: black;
    color: red;
  }

  .timeleft {
    text-align: right;
  }

  .viewscore {
    text-align: left;
  }

  body {
    text-align: center;
  }

  .hidden {
    display: none
  }

  div.reveal {
    color: green
  }